[Unit]
Description=use gamepad buttons to controll mouse and keyboard
After=multi-user.target

[Service]
ExecStart=/usr/sbin/joypad

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target